/* variables */

:root {
    --bg-head-foot: #2c3e50;
    --bg-section: #1abc9c;
    --bg-footer: #3a546d;
    --bg-copyright: #2c3e50;
}

header {
    background-color: var(--bg-head-foot);
}

header,
.jumbotron,
.about,
footer {
    color: var(--bs-white);
}

.jumbotron,
.about {
    background-color: var(--bg-section);
}

.portfolio .row div>div {
    background-color: var(--bs-danger);
}

footer {
    background-color: var(--bg-footer);
}

footer .dr-copyright {
    background-color: var(--bg-copyright);
}