/* import */

@import url('_partials/variable.css');
@import url('_partials/custom.css');
@import url('_partials/common.css');

/* header */



/* jumbotron */
.jumbotron i {
    font-size: 1.875rem;
    padding: 0 15px;
}


.portfolio .row div>div {
    background-color: var(--bs-danger);
}

footer {
    background-color: var(--bg-footer);
}

footer .dr-copyright {
    background-color: var(--bg-copyright);
}