/* variables */

:root {
    --bg-head-foot: #2c3e50;
    --bg-section: #1abc9c;
}

header {
    background-color: var(--bg-head-foot);
}

header,
.jumbotron,
footer {
    color: var(--bs-white);
}

.jumbotron {
    background-color: var(--bg-section);
}

.portfolio .row>div {
    background-color: var(--bs-danger);
}