header {
    background-color: var(--bg-head-foot);
}

header,
.jumbotron,
.about,
footer {
    color: var(--bs-white);
}

.jumbotron,
.about {
    background-color: var(--bg-section);
}

ul {
    list-style: none;
}

.fa-star {
    font-size: 1.875rem;
}