.dr-bt-line-font::before,
.dr-bt-line-font::after {
    content: '';
    width: 10%;
    height: 4px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: currentColor;
}

.dr-rounded-social {
    border: solid 1px currentColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}